<%- include('templates/header') %>

<div id="overlay" class="d-flex justify-content-center align-items-center gap-3 d-none">
  <div class="spinner-grow" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <span>Looking For Scan..</span>
</div>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6 p-4 shadow-sm form-container">
      <div id="overlay" class="bg-primary z-1 position-absolute">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
          </div>
        </div>
      </div>
      <h3 class="text-center fw-bold">View Book</h3>
      <hr class="border-light mt-0 border-3">
      <form action="/create" method="post" class="form">

        <div class="input-group mb-3">
          <button id="check" class="btn btn-outline-info border-end-0" style="width:150px" type="button" onclick="getCard()">
            <i class="fa-brands fa-nfc-symbol"></i> Scan Book
          </button>
          <input type="text" class="form-control border-info" id="book_id" name="book_id" readonly>
        </div>

        <div id="hidden-form" class="d-none">
          <div class="input-group mb-3">
            <span class="input-group-text bg-primary text-white" style="width:150px" id="basic-addon1">Title</span>
            <input type="text" class="form-control" placeholder="Input title.." id="title" name="title" readonly>
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text bg-success text-white" style="width:150px" for="inputGroupSelect01">Category</label>
            <input type="text" class="form-control" placeholder="Input category.." id="category" name="category" readonly>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text bg-danger text-white" style="width:150px" id="basic-addon1">Author</span>
            <input type="text" class="form-control" placeholder="Input author.." id="author" name="author" readonly>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text bg-warning text-black" style="width:150px" id="basic-addon1">Publisher</span>
            <input type="text" class="form-control" placeholder="Input publisher" id="publisher" name="publisher" readonly>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text bg-light text-black" style="width:150px" id="basic-addon1">Year Published</span>
            <input type="text" class="form-control" placeholder="Input year published" id="year_published" name="year_published" readonly>
          </div>
          <div class="d-flex justify-content-end gap-3">
            <a class="btn btn-outline-warning" href="/list"><i class="fas fa-rotate-left"></i> Back to List Page</a>
            <button type="button" onclick="directPage()" class="btn btn-outline-info"><i class="fas fa-edit"></i> Edit Data</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

    <script>

      showSpinner("hide");

      function getCard() {
        showSpinner("show");
        showForm("hide");
        fetch('/api/id_card')
        .then(response => response.json())
        .then(data => {
          showSpinner("hide");
          const bookIdInput = document.getElementById('book_id');
          bookIdInput.value = data.id;
          if(data.id > 0){
            showForm("appear");
            getData(data.id);
          }
        });
      }

      function showForm(status) {
        if (status == "hide"){
          document.getElementById("hidden-form").classList.add("d-none");
        } else {
          document.getElementById("hidden-form").classList.remove("d-none");
        }
      }

      function directPage() {
        let id = document.getElementById("book_id").value;
        window.location.href = `/edit/${id}`;
      }

      function getData(id) {
        fetch(`/api/data/${id}`)
        .then(response => response.json())
        .then(data => {
          document.getElementById("title").value = data[0].title;
          document.getElementById("category").value = data[0].category;
          document.getElementById("author").value = data[0].author;
          document.getElementById("publisher").value = data[0].publisher;
          document.getElementById("year_published").value = data[0].year_published;
        });
      }

      function showSpinner(status) {
        if (status == "hide"){
          document.getElementById("overlay").classList.add("d-none");
          document.getElementById("check").innerHTML = `<i class="fa-solid fa-brands fa-nfc-symbol"></i> Scan Book`;
        } else {
          document.getElementById("overlay").classList.remove("d-none");
          document.getElementById("check").innerHTML = `<span class="text-info">Loading...</span>`;
        }
      }
    </script>

<%- include('templates/footer') %>
